body {
  font-family: Helvetica, Arial;
  width: 960px;
}

h1 {
  color: #ff0000;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-style: italic;
  color: #47b3fe;
}

p {
  font-weight: lighter;
  text-align: justify;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  width:  33%;
}

.menu {
  height: 50px;
}

.plaatje {
  float: right;
}

.plaatje img {
  margin-top: 100px;
}

.tekst {
  float: left;
  width: 400px;
}

